.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

.env
.env.production
.env.local
*.env

!.env.example

/backend-go/tmp/
/backend-go/bin/

/backend-go/main
/backend-go/main.exe
/backend-go/cuan-backend
/backend-go/cuan-backend.exe

bin/
tmp/

vendor/

node_modules/
/frontend-nuxt/node_modules/

.nuxt/
/frontend-nuxt/.nuxt/
.output/
/frontend-nuxt/.output/
dist/
/frontend-nuxt/dist/

.env
.data/

ollama-data/
pgdata/
postgres-data/
mysql-data/

coverage/