services:
  backend:
    image: ghcr.io/alimurrofid/petualangan-cuan/backend:latest
    container_name: petualangan_cuan_backend
    environment:
      - PORT=${PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRY_HOURS=${JWT_EXPIRY_HOURS}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_REDIRECT_URL=${GOOGLE_REDIRECT_URL}
      - FRONTEND_URL=${FRONTEND_URL}
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      postgres:
        condition: service_started
    networks:
      - app-network
    restart: always
    user: appuser
  frontend:
    image: ghcr.io/alimurrofid/petualangan-cuan/frontend:latest
    container_name: petualangan_cuan_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always
  
  postgres:
    image: postgres:15-alpine
    container_name: petualangan_cuan_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./uploads:/app/uploads
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
