services:
  postgres:
    image: postgres:15-alpine
    container_name: petualangan_cuan_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: always

  backend:
    image: ghcr.io/alimurrofid/petualangan-cuan/backend:latest
    container_name: petualangan_cuan_backend
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - app-network
    restart: always

  frontend:
    image: ghcr.io/alimurrofid/petualangan-cuan/frontend:latest
    container_name: petualangan_cuan_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
